@charset "utf-8";
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{

}
.arrow{
    left: 25px;
    top: 107px;
    width: 24px;
    height: 24px;
    padding-right: 360px;
}
main{
    display: flex;
}
input{
    padding: 0px 25px;
    box-sizing: border-box;
    width: 390px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    color: #d9d9d9;
    box-sizing: border-box; 
    border: 1px solid #585858;
}
button{
    width: 390px;
    height: 70px;
    margin-top: 338px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #834ec3;
    cursor: pointer;
}